<!DOCTYPE html>
<html>
<head>
    <title>C Programming Virtual Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
    <img src="{{ url_for('static', filename='vcet.png') }}"
         alt="University Logo" class="logo">

    <div class="header-text">
        <h1>Vivekananda College of Engineering and Technology</h1>
        <h2>Department of Electronics & Communication Engineering</h2>

    </div>
</div>
    <div class="container">



<h3>List of Experiments</h3>

<ol>
    <li><a href="/experiment/1">Temperature Conversion (Celsius to Fahrenheit)</a></li>
    <li><a href="/experiment/2">Roots of a Quadratic Equation</a></li>
    <li><a href="/experiment/3">Prime Number Check</a></li>
    <li><a href="/experiment/4">Linear Search in an Array</a></li>
    <li><a href="/experiment/5">Senior Citizen Categorization</a></li>
    <li><a href="/experiment/6">Floyd’s Triangle</a></li>
    <li><a href="/experiment/7">Transpose of a Matrix</a></li>
    <li><a href="/experiment/8">String Operations</a></li>
    <li><a href="/experiment/9">GCD and LCM (Modular Program)</a></li>
    <li><a href="/experiment/10">Employee Structure – Higher Salary</a></li>
    <li><a href="/experiment/11">Addition Using Pointers</a></li>
    <li><a href="/experiment/12">Sum of Digits</a></li>
    <li><a href="/experiment/13">Matrix Multiplication</a></li>
    <li><a href="/experiment/14">Book Details Using Structure</a></li>
</ol>

<hr>

<p>
<b>Course:</b> Introduction to C Programming
<br>
<b>Course code:</b> 1BPLC205E/105E
<br>
<b>Department:</b> Electronics & Communication Engineering
<br>
<b>Website Designed by:</b> Prof. Shivaprasad<br>
<span class="footer-indent">Dept. of EC, VCET Puttur</span>
</p>
</div>
</body>
</html>
